/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
        /* Primary */
    --bright-blue: hsl(220, 98%, 61%);

        /* Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

        /* Dark Theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --Light-grayish-blue: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--very-dark-blue);
}

body::before {
    content: '';
    display: block;
    background-image: URL(./images/bg-mobile-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
}

.light-mode::before {
    content: '';
    display: block;
    background-image: URL(./images/bg-mobile-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
}

.light-mode-large::before {
    content: '';
    display: block;
    background-image: URL(./images/bg-desktop-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
}

/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    width: 340px;
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    color: white;
    letter-spacing: 6px;
    font-weight: 400;
}

header img {
    height: 100%;
    align-self: center;
    cursor: pointer;
}

/* TODO SECTION */
main {
    width: 340px;
    position: absolute;
    margin-top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

/* TODO Input */
#todo-input {
    color: var(--light-grayish-blue);
    background-color: var(--very-dark-grayish-blue-2);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-size: 18px 18px;
    background-position: 5px 12px;
    background-repeat: no-repeat;
    padding: 0 30px;
}

#todo-input:focus {
    outline: none;
}

.input-light-mode {
    color: black !important;
    background-color: white !important;
}

/* TODO ITEM */
#todo-list {
    margin-top: 20px;
}

.todo-item, .controls {
    position: relative;
    color: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-dark-grayish-blue-2);
    border: none;
    width: 100%;
    height: 50px;
    background-size: 18px 18px;
    background-position: 5px 16px;
    background-repeat: no-repeat;
    padding: 0 30px;
    border-bottom: 1px solid hsl(235, 19%, 35%)
}

.todo-item:first-child {
    border-radius: 5px 5px 0 0;
}

.todo-item:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
} 

.todo-text {
    padding: 30px;
}

.light-mode-item {
    background-color: white;
}

.controls {
    margin-top: 20px;
    height: 50px;
    background-image: none;
    border-radius: 5px;
    border-bottom: none;
}

.control-btn {
    color: var(--dark-grayish-blue);
    border: none;
    background: none;
    cursor: pointer;
}

.control-btn:hover {
    color: var(--bright-blue);
}

.remove-icon {
    cursor: pointer;
}

#clear-all {
    font-weight: 800;
    border: 1px solid black;
    padding: 5px;
}

/* DARK / LIGHT TOGGLE */
.display-sun {
    display: block;
}

.remove-sun {
    display: none;
}

.display-moon {
    display: block;
}

.remove-moon {
    display: none;
}

/* completed circle */
.circle {
    height: 20px;
    width: 20px;
    border: 1px solid var(--very-dark-blue);
    border-radius: 50%;
    position: absolute;
}

.circle:hover {
    border: 1px solid var(--bright-blue);
}

/* Checked Todo */
.checked-todo {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.check-mark {
    background-color: var(--bright-blue);
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    display: none;
}

.check-mark img {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

#items-left {
    color: var(--dark-grayish-blue);
}

@media screen and (min-width: 500px) {

    body::before {
        background-image: URL(./images/bg-desktop-dark.jpg);
    }
    
}

@media screen and (min-width: 900px) {

    header {
        width: 560px;
    }

    main {
        width: 560px;
    }

}